.panel a{
  display: block;
}
.panel-primary>.panel-heading-past{
  background-color: #CCEBD6;
}
.panel-primary>.panel-heading-overdue{
  background-color: #FFD1D1;
}
.panel-primary>.panel-heading-current{
  background-color: ##428bca;
}
.panel-primary>.panel-heading-future{
  background-color: #ADD6FF;
}
.project-name{
  color: white;
  font-size: 20px;
}